plugins:
  - jekyll-remote-theme
  - jekyll-include-cache

remote_theme: ucsb-cs-course-repos/course-repo-jekyll-theme

url: https://ucsb-cs48.github.io # the base hostname & protocol for your site
baseurl: /s20  # the subpath of your site, e.g. "/blog"

include:
  - _pages
exclude:
  - .sass-cache
  - Gemfile
  - LICENSE
  - .bundle
  - keep

course: "CS48"
qtr: "S20"
qxx: "S20"
quarter: "Spring 2020"
piazza_url: TBD
gauchospace_course_page: https://gauchospace.ucsb.edu/courses/course/view.php?id=76516
github_org_name: ucsb-cs48-s20
github_org_url: https://github.com/ucsb-cs48-s20
slack_url: https://ucsb-cs48-s20.slack.com

ta_list: "Scott Chow"
ta_list_full: "Scott Chow"
mentors_list: "Bryan Terce, Andrew Lu"

github_url: https://github.com/ucsb-cs48/s20
mentor_url: https://ucsb-cs48-pconrad-mentors.github.io

on_campus: http://proquest.safaribooksonline.com
off_campus: http://proquest.safaribooksonline.com.proxy.library.ucsb.edu:2048
hfj_url: book/programming/java/0596009208
hfdp_url: book/software-engineering-and-development/patterns/0596007124 

legacy_wiki_url: https://foo.cs.ucsb.edu/48wiki
legacy_wiki_name: "48wiki"

submit_cs_course: TBD

start_week: 1
start_date: 2020-03-29 
num_weeks: 10
extra_exam_week: true
sections: "noon,&nbsp;1pm,&nbsp;2pm&nbsp;3pm"

cal_dates: >
  [
    {"label":"S20 1st day of instruction", "date":"2020-03-30" },	
    {"label":"Univ Holiday", "date":"2020-05-25" },
    {"label":"S20 instruction ends", "date":"2020-06-05" },
    {"label":"S20 finals start", "date":"2020-06-06" },
    {"label":"S20 finals end", "date":"2020-06-12" },
    {"label":"S20 qtr ends", "date":"2020-06-12" }
  ]

hwk_drop_lowest: three

kramdown:
   parse_block_html: false


exclude:
   - vendor

timezone: America/Los_Angeles

collections:
  hwk:
    output: true
    permalink: /hwk/:path/
    last_before: false
  lab:
    output: true
    permalink: /lab/:path/
    last_before: false
  project:
    output: true
    permalink: /project/:path/
    last_before: false
  exam:
    output: true
    permalink: /exam/:path/
  info:
    output: true
    permalink: /info/:path/
  lectures:
    output: true
    permalink: /lectures/:path/
  staff:
    output: true
    permalink: /staff/:path
  admin:
    output: true
    permalink: /admin/:path



defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: default
  - 
    scope:
      path: ""
      type: lectures
    values:
      layout: lecture
  - 
    scope:
      path: ""
      type: hwk
    values:
      layout: hwk
  - 
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: project
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  - 
    scope:
      path: ""
      type: info
    values:
      layout: info
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout
  -
    scope:
     path: ""
     type: staff
    values:
     layout: staff
  -
    scope:
     path: ""
     type: admin
    values:
     layout: default

  - scope:
     path: ""
     type: pages
    values:
     layout: default

head_scripts:
   - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML
